<div class="component">
  <h1>Component Title</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam. Dolorum adipisci totam dolorem perspiciatis, officia iste nostrum molestiae ipsum culpa amet odio maxime quas non cum tenetur vel cumque.</p>
</div>


<div>
  <h1>Unread</h1>
{{#each emails}}
  {{#if isInBox}}
   <div>
      {{name}}
   </div>
  {{/if}}
{{/each}}
</div>
<hr>

<div>
  <h1>Inbox</h1>
{{#each emails}}
  {{#unless isInBox}}
   <div>
      {{name}}
   </div>
  {{/unless}}
{{/each}}
</div>