<section class="emails is-component">
  <div class="emails--inner">
   <button class="compose">
     compose
   </button>

   <div class="search-bar">
     <form action="" class="search-form">
       <input type="text" name="" placeholder="Search Emaill">
       <input type="submit" value="Search">
     </form>
   </div>
    <div class="refresh">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-cw"><polyline points="23 4 23 10 17 10"></polyline><path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10"></path></svg>
    </div>
    <div class="is-email--container unread">
      <h1 class="email-type">Unread</h1>
      <p class="caughtUp">You are all caught up!</p>
      {{#each emails}}
      {{#if isInBox}}
       <div class="email-card">
        <div class="is-email--section has-img">
          <div class="sender-img" style="background-image: url({{image}});">
          </div>
        </div>
        <div class="is-email--section has-content">
          <div class="sender-inner--content">
            <p class="sender-name">{{name}}</p>
            <p class="email-sum">{{message}}</p>
          </div>
        </div>
        <div class="email-action">
          <span><img src="assets/images/flag.png" alt="" class="action-icon"></span>
          <span><img src="assets/images/trashcan.png" alt="" class="action-icon trash"></span>
          <span><img src="assets/images/reply.png" alt="" class="action-icon"></span>
        </div>
       </div>
      {{/if}}
    {{/each}}
  </div>
   
    
    <div>
      <h1 class="email-type">Inbox</h1>
      <div class="inbox">
        {{#each emails}}
          {{#unless isInBox}}
          <div class="email-card">
            <div class="is-email--section has-img">
              <div class="sender-img" style="background-image: url({{image}});">
              </div>
            </div>
            <div class="is-email--section has-content">
              <div class="sender-inner--content">
                <p class="sender-name">{{name}}</p>
                <p class="email-sum">{{message}}</p>
              </div>
            </div>
            <div class="email-action">
              <span><img src="assets/images/flag.png" alt="" class="action-icon"></span>
              <span><img src="assets/images/trashcan.png" alt="" class="action-icon trash"></span>
              <span><img src="assets/images/reply.png" alt="" class="action-icon"></span>
            </div>
          </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>
</section>