<section class="full-email-view is-component">
  <div class="email-view--inner">
    <div class="from">
      <div class="fromImg isFrom-component" style="background-image: url(assets/images/bradsmith.jpg);">   
      </div>
      <div class="fromSub isFrom-component">
        <div class="emailSection">
          <span class="is-default">From:</span> 
          <strong class="fromName">Brad Smith</strong>
        </div>
        <div class="emailSection">
          <span class="is-default">To:</span> 
          <strong class="clientName">You</strong> <i>kenny.krosky@gmail.com</i>
        </div>
        <div class="emailSection">
          <span class="is-default">Subject:</span> 
          Hey Man, just got back in town. Check out these awesome pictures from my trip!
        </div>
      </div>
    </div>
    
    <div class="the-email">
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum.</p>
    </div>

    <div class="the-reply">
      <div class="is-section hasImgReply">
        <img class="replyImg" src="assets/images/userimg.jpg" alt="">
      </div>
      <div class="is-section hasSettingsReply">
        <div class="emailSection">
          Replaying as: <i>kenny.krosky@gmail.com</i>
        </div>
        <div class="emailSection">Forward: 
          <span class="addForward">Add Email Address</span>
        </div>
      </div>
    </div>
    <div class="isReplyParent">
      <div class="replyBox">
        <textarea name="" id=""></textarea>
        <input type="submit" value="Reply">
        <div class="replyActions">
          <ul>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip"><path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg></li>
          </ul>
        </div>
      </div> 
    </div>
  </div>
</section>