<section class="chats">
  <div class="inner">
    <div class="sender-chat">
      <div class="sender_avatar hasAv chatImg">
      </div>
      <div class="sender_name hasCo">
        <p class="sender-name chatName">Name</p>
        <p class="sender-email chatEmail">Email</p>
      </div>
    </div>
    <div class="chat-view"> 
      <div class="fakeMsg">
        <p><span class="getName chatName">Name: </span><span class="chatMsg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam doloribus rerum, dolorum a nisi temporibus minima id commodi alias non quaerat! Fugit, neque unde. Officia vel dignissimos libero blanditiis commodi.</span></p>
      </div>
    </div>

    <div class="msg-chat">
      <form action="" class="Form">
        <textarea class="txtArea" name="" id="" placeholder="Send a Message"></textarea>
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
  
  <div class="closeChat">
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
  </div>
</section>