<section class="sidebar">
  <div class="sidebar--inner">
    <figure class="avatarImg">
      <img src="assets/images/userimg.jpg" alt="">
    </figure>
  
    <div class="sidebar-menu">
      <ul>
        <li class="inboxItem isActive"><a href="#0">Inbox (3)</a></li>
        <li class="sentItem"><a href="#0">Sent</a></li>
        <li class="starredItem"><a href="#0">Starred</a></li>
        <li class="spamItem"><a href="#0">Spam</a></li>
        <li class="trashItem"><a href="#0">Trash</a></li>
      </ul>
    </div>

    <div class="hangout-bubbles">
      <div class="is-bubble is-hangout-contact"></div>
      <div class="is-bubble is-hangout-contact"></div>
      <div class="is-bubble is-hangout-contact" data-name="erik">
        <img src="assets/images/dougjay.jpg" alt="">
      </div>
      <div class="is-bubble is-hangout-contact has-notification-alert" data-name="brad smith">
        <img src="assets/images/bradsmith.jpg" alt="">
        <div class="notify-bubble"><span class="alert-num">1</span></div>
      </div>
      <div class="is-bubble is-notify">
        <svg class="messageIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
        <div class="notify-bubble main-notify"><span class="alert-num">1</span></div>
      </div>
    </div>
      

  
  </div>
</section>