@mixin listItem($color) {
  &:before {
    content: '';
    width: 9px;
    height: 100%;
    background-color: $color;
    left: 0; top: 0;
    position: absolute;
    transform: translateX(-3px);
  }
}