.is-settings--parent {
  position: relative;

  &:hover {
    .settings-el {
      transform: translateY(0px);
      visibility: visible;
      transition: transform 300ms ease;

      li {
        opacity: 1;
      }
    }
  }
}

.settings-el {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 9;
  transition: all 0ms ease;
  visibility: hidden;
  transform: translateY(10px);
}

.settings--options {
  background: $primaryColor;
  border-radius: 10px;
  box-shadow: 0px 0px 60px rgba(black, 1);
}

.settings-el ul {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 1.5em;

  li {
    padding: 1.3em 0em;
    font-size: 70%;
    text-align: center;
    color: #999;
    cursor: pointer;
    opacity: 0;

    &.current-account, &:hover {
      color: white;
    }

    
  }
}

.triangle {
  position: absolute;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background: $primaryColor;
  top: 0.9em;
  left: 50%;
  margin-left: -10px;
  
}
.opt {
  padding-top: 0.4em;
  &:after{
    @include clearfix();
  }
}
.opt-item {
  width: 50%;
  float: left;
  height: 3em;
  position: relative;
  font-size: 65%;
  text-align: center;
  cursor: pointer;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
  }
}
#isAccount {
  border-bottom-left-radius: 10px;
  background: #E2664D;
  color: white;
  font-weight: bolder;
}
#isSettings {
  border-bottom-right-radius: 10px;

  svg {
    stroke: #999;
  }
}