
.hangout-bubbles {
  height: 70px;
  bottom: 40px;
  position: absolute;
  width: 70px;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  

.is-hangout-contact {
  transition: all 350ms $ease-in-quart;
  opacity: 0;
  overflow: hidden;

  &:nth-of-type(4) {
    border: 3px solid $orange;
  }

  &:nth-of-type(3) {
    border: 3px solid $yellow;
  }

  &:nth-of-type(2) {
    border: 3px solid $blue;
    background: #D3AFAF;
  }


  
}

.is-bubble {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: orange;
  position: absolute;
  cursor: pointer;
  visibility: hidden;


  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
  
  }
}


.is-notify {
  background: #262F3D;
  z-index: 9;
  visibility: visible;
}

.notify-bubble {
  height: 20px;
  width: 20px;
  transition: all 200ms ease;
  background: red;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  color: white;
  font-size: 13px;
}

.messageIcon {
  stroke: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  transition: all 200ms $ease-out-quart;
}
.alert-num {
  padding-top: 0.09em;
  display: inline-block;
}

.hangout-cover {
  &.isActive {
    background: $primaryColor;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0; left: 0;
  }
}

.showing-hangout {

  .hangout-cover {
    background: $primaryColor;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    
  }

  @for $i from 1 through 4 {

    .is-hangout-contact:nth-of-type(#{$i}) {
      visibility: visible;
      transform: translateY(-95px * $i);
      opacity: 1;
      transition: all 300ms $ease-out-back;

      &:hover {
        transform:translateY(-95px * $i)  scale(1.1);
      }
    }
  }

    .notify-bubble {
      transform: translateY(20px);
      opacity: 0;
    }

    .messageIcon {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
      transition: all 200ms $ease-out-back;
    }
  }
}